---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Ups! Página no encontrada'>
	<main class='flex items-center justify-center h-screen'>
		<h1 class=''>Ups! Nuestros robots aún no trabajan en la página que buscabas</h1>
	</main>
</Layout>
