---
import { Icon } from 'astro-icon'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Conoce más de esta nueva versión'>
	<Header />
	<main
		class='relative mx-auto flex min-h-screen flex-wrap justify-center gap-6 bg-contain bg-center bg-no-repeat px-5 py-10 xl:bg-icons'
	>
		<article class='grid h-fit w-full max-w-3xl gap-4 text-neutral-700 sm:px-14'>
			<section class='w-full text-slate-900'>
				<img src='/ARC23.png' alt='Logotipo Arc 2023' />
				<div class='grid gap-3 text-justify'>
					<p>
						La experiencia de pandemia sanitaria durante los años anteriores significó un cambio en
						los hábitos de las personas, obligando a un repliegue hacia los espacios privados,
						aislamiento y desuso de calles, plazas y centros culturales, impactando indudablemente
						en el estado de ánimo y comportamiento de la población.
					</p>
					<p>
						La recuperación de los espacios públicos representa un desafío para las instituciones y
						especialmente para nuestro Ministerio. Existe una preocupación por la seguridad pública
						como eje trascendental para que las personas vuelvan a circular por las calles y, además
						de ello, está presente el reto de generar espacios atractivos y de impacto cultural en
						la ciudadanía y es ahí donde nuestra Seremi de las Culturas, Artes y Patrimonio, asume
						este desafío.
					</p>
					<p>
						En ese contexto, el Festival ARC 2023 busca incidir en la forma de habitar la ciudad,
						modificándola a través del desarrollo de un circuito artístico cultural caminable en la
						ciudad de La Serena, donde la comunidad podrá recorrer a pie espacios destinados a la
						literatura, la ilustración, las artes escénicas, el circo, artes visuales y música. De
						esta manera, nuestra propuesta busca resignificar la experiencia de caminar la ciudad,
						haciendo que las personas se apropien de las calles desde la cultura y las artes,
						ofreciendo un panorama veraniego alternativo y novedoso para la región, ocupando
						espacios convencionales y no convencionales para las manifestaciones artísticas.
					</p>
					<p>
						Además, es de interés programático resaltar los y las artistas e iniciativas culturales
						de la Región de Coquimbo. El compromiso del Festival ARC desde sus orígenes es dar
						espacio a las distintas expresiones artísticas de las Provincias de Choapa, Limarí y
						Elqui. Para ello, se contempla la participación de artistas y compañías locales de
						destacada trayectoria y de gran proyección.
					</p>
					<p>
						El fin último es poner en el centro la cultura como un derecho humano, contribuyendo a
						la democratización cultural y promoviendo con estas acciones la democracia cultural,
						donde el arte crea comunidad, fortaleciendo los vínculos y el tejido social. De esta
						forma, queremos propender a que las personas, comunidades y territorios puedan
						desarrollar sus expresiones y manifestaciones culturales y que puedan, también, tener el
						derecho a acceder y participar de la cultura libremente.
					</p>
				</div>
			</section>
			<section class="flex space-x-4 items-center">
				<p class='text-xl font-bold'>Contáctanos:</p>
				<a href='mailto:info@festivalarc.cl' aria-label="Email de Contacto">
					<Icon name='mdi:email' class='h-8 inline hover:text-main transition-all duration-200' />
				</a>
			</section>
			<section class='grid w-full gap-6'>
				<p class='text-xl font-bold'>Patrocinadores:</p>
				<section class='flex flex-shrink-0 flex-wrap items-center justify-center gap-10 px-6'>
					<img
						width='300'
						class='aspect-[150/49] h-14 w-fit'
						src='/logos/logo-del-fuego.svg'
						alt='Logo de Del Fuego'
					/>
					<img
						width='265'
						class='aspect-[53/30] h-14 w-fit'
						src='/logos/logo-ciudad-capital.svg'
						alt='Logo de Ciudad Capital'
					/>
					<img
						width='300'
						class='aspect-[100/31] h-14 w-fit'
						src='/logos/logo-estacionamiento.svg'
						alt='Logo de Estacionamientos Subterraneos de La Serena'
					/>
					<img width='192' class='aspect-[32/25] h-14 w-fit' src='/logos/logo-chronos.svg' alt='Logo de Chronos Ingeniería' />
					<img
						width='2226'
						class='aspect-[1113/361] h-14 w-fit'
						src='/logos/logo-transparencia.png'
						alt='Logo de IMREC'
					/>
					<img
						width='1000'
						class='aspect-[20/7] h-14 w-fit'
						src='/logos/logo-portaldisc.png'
						alt='Logo de Portaldisc'
					/>
					<img width='432' class='aspect-[108/29] h-14 w-fit' src='/logos/logo-inacap.png' alt='Logo ded Inacap' />
				</section>
			</section>
		</article>
	</main>
	<section class='-mb-2 h-fit sm:-mb-4 md:-mb-6 lg:-mb-7 xl:hidden'>
		<img class='mx-auto h-fit w-full' src='/bg-mobile.svg' alt='' />
	</section>
	<Footer />
</Layout>
