---
import Layout from '../layouts/Layout.astro'
import { ARC_2023 } from '../data/ARC_2023'
import Map from '../components/Map.astro'
import LocationInfo from '../components/LocationInfo.astro'
import Controls from '../components/Controls.astro'
import Header from '../components/Header.astro'
const { title, description, locations } = ARC_2023
---

<Layout title={title} description={description}>
	<Header />
	<main id='main-page' class='relative w-full h-full max-h-screen overflow-hidden'>
		{locations.map((location) => <LocationInfo query={location.id} />)}
		<Map />
		<Controls />
	</main>
</Layout>

<script type='module'>
	const mapIcon = document.getElementById('map').querySelectorAll('.names')
	const locations = document.querySelectorAll('[aria-label="location-info"]')
	const header = document.querySelector('header').querySelector('div')

	function showLocationsInfo(element, show) {
		if (show) {
			header.classList.add(element.classList[0])
			element.style.right = '0'
			element.style.zIndex = '20'
			element.style.opacity = '1'
		} else {
			header.classList.remove(element.classList[0])
			element.style.zIndex = '10'
			element.style.right = '-448px'
		}
	}

	mapIcon.forEach((icon, index) =>
		icon.addEventListener('click', () => {
			locations.forEach((location) => {
				showLocationsInfo(location, false)
			})
			showLocationsInfo(locations[index], true)
		})
	)
	mapIcon.forEach((icon, index) =>
		icon.addEventListener('touchend', () => {
			locations.forEach((location) => {
				showLocationsInfo(location, false)
			})
			showLocationsInfo(locations[index], true)
		})
	)

	locations.forEach((location) => {
		location.addEventListener(
			'transitionend',
			(e) => {
				if (location !== e.target) return
				if (location.style.right === '-448px') {
					location.style.opacity = '0'
				}
			},
			false
		)
		location.querySelector('button').addEventListener('click', () => {
			showLocationsInfo(location, false)
		})
	})
</script>
