---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import { ARC_2023 } from '../data/ARC_2023'

const { title, description } = ARC_2023
---

<Layout title={title} description={description}>
	<Header />
	<main id='main-page' class='w-full h-screen bg-bgBlack flex items-center justify-center overflow-x-hidden'>
		<img src='/ARC23.jpg' class='w-full aspect-auto min-w-[50rem] xl:mt-32' />
	</main>
	<Footer fixed />
</Layout>
