---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Pronto Festival ARC 2023'>
	<Header />
	<main class='grid place-content-center'>
		<img class="h-full mt-14 lg:mt-10" src="/ARC23.jpg" alt="">
	</main>
	<Footer fixed />
</Layout>
