<div
	class='absolute bottom-5 sm:bottom-10 left-0 right-0 mx-auto bg-main py-2 px-4 flex w-fit gap-4 justify-between'
>
	<p class='text-center max-w-[16rem] leading-4'>Acércate y descubre los espacios ARC 2023</p>
</div>
