---
import { Icon } from 'astro-icon'

const { links, hoverTextColor, borderColor } = Astro.props
---

{
	links.lenght !== 0 && (
		<ul class='flex'>
			{links.map(({ url, name }) => (
				<li class={`flex gap-2 border-l-2 ${borderColor} px-2`}>
					{name === 'ticket' && <p>Tickets:</p>}
					<a href={url}>
						<Icon
							class={`${hoverTextColor} h-6 w-6 transition-all duration-200`}
							name={`mdi:${name}`}
						/>
					</a>
				</li>
			))}
		</ul>
	)
}
