<div class='absolute bottom-10 right-10 bg-main rounded-lg max-w-[14rem] w-full py-2 px-4 flex justify-between'>
	<div class='flex'>
		<p>Zoom:</p>
	</div>
	<div class='flex'>
		<p>Mover:</p>
	</div>
</div>
