---
const { fixed, backgroundColor = 'bg-main' } = Astro.props
---

<footer
	class={`flex flex-col md:flex-row justify-between items-center w-full py-2 gap-2 md:px-14 ${backgroundColor} ${
		fixed ? 'fixed' : ''
	} bottom-0 left-0 right-0 z-50 transition-[background-color] duration-200 ease-in bg-texture bg-4xl sm:bg-xl`}
>
	<div class='flex justify-center gap-4 md:items-center md:gap-10'>
		<div class='flex items-center gap-4'>
			<p class='text-sm md:text-base'>Organiza:</p>
			<img height="40" width="114" class='h-8 md:h-10' src='/organiza.png' alt='' />
		</div>
		<div class='flex items-center gap-4'>
			<p class='text-sm md:text-base'>Colabora:</p>
			<img height="40" width="60" class='h-8 md:h-10' src='/colabora.png' alt='' />
		</div>
	</div>
	<div class='hidden flex-col items-center justify-around gap-4 md:flex md:flex-row'>
		<p class='text-lg font-bold leading-3'>ARC 2023</p>
		|
		<p class='font-light leading-3'>
			Desarrollado por <a class='underline' target='_blank' href='https://github.com/Strocs'
				>Strocs</a
			>
		</p>
	</div>
</footer>
