---
import LogoWithText from './LogoWithText.astro'
import Navbar from './Navbar.astro'
import ScheduleDownloader from './ScheduleDownloader.astro'
import SocialNetworks from './SocialNetworks.astro'
import ToggleMenuButton from './ToggleMenuButton.astro'

const {
	backgroundColor = 'bg-main',
	hoverTextColor = 'hover:text-main',
	groupHoverTextColor = 'group-hover:text-main'
} = Astro.props
---

<header>
	<div
		class={`flex w-full items-center justify-between sm:justify-start sm:gap-14 fixed top-0 ${backgroundColor} bg-xl sm:px-14 px-4 py-2 z-50 transition-[background-color] duration-200`}
	>
		<ToggleMenuButton id='menu' />
		<div class='flex text-white justify-between w-full gap-6'>
			<LogoWithText />
			<ScheduleDownloader hoverTextColor={hoverTextColor} />
			<SocialNetworks groupHoverTextColor={groupHoverTextColor} />
		</div>
		<ToggleMenuButton mobile id='menu-mobile' />
	</div>
	<Navbar id='navbar' />
</header>

<script type='module'>
	const menu = document.querySelectorAll('input')
	const navbar = document.querySelector('nav')

	function showNavBar(show) {
		if (show) {
			navbar.style.left = '0'
			navbar.style.opacity = '1'
		} else {
			navbar.style.left = '-320px'
		}
	}

	navbar.querySelectorAll('a').forEach((anchor) => {
		anchor.addEventListener('click', () => {
			showNavBar(false)
		})
	})

	navbar.addEventListener('transitionend', (e) => {
		if (navbar !== e.target) return
		if (navbar.style.left === '-320px') {
			navbar.style.opacity = '0'
		}
	})

	menu.forEach((el) =>
		el.addEventListener('change', (e) => (e.target.checked ? showNavBar(true) : showNavBar(false)))
	)
</script>
