---
const { sm, lg } = Astro.props
---

<a href='/'>
	<img
		class={` aspect-[100/31] ${sm ? 'h-10 w-auto' : lg ? 'h-20' : 'h-30'}`}
		width='300'
		height='93'
		src='/logo.svg'
		alt='Logo Festival ARC 2023'
	/>
</a>
