---
import Mapa from './icons/Mapa.astro'
---

<section id='map-container' class='relative h-screen w-screen cursor-grab'>
	<div
		class='absolute top-0 right-0 -left-20 bottom-0 m-auto h-fit w-[150%] origin-top-left sm:left-0 sm:w-1/2'
	>
		<Mapa />
	</div>
</section>

<script>
	const mapContainer = document.querySelector('#map-container')
	const map = mapContainer.querySelector('div')
	const mapGuide = document.querySelector < HTMLElement > ('#map-guide')
	const resetButton = document.querySelector < HTMLElement > ('#reset-button')

	let dx = 0
	let dy = 0
	let scale = 1
	let panning = 0
	let lastPoints = []

	function showResetButton() {
		if (mapGuide.style.opacity === '1') {
			mapGuide.style.opacity = '0'
			mapGuide.addEventListener('transitionend', () => {
				mapGuide.hidden = true
			})
		}
		if (resetButton.style.opacity === '0') {
			resetButton.style.opacity = '1'
		}
	}

	function update() {
		map.style.transform = `translate(${dx}px, ${dy}px) scale(${scale})`
	}

	function getXY(obj) {
		return {
			x: obj.pageX,
			y: obj.pageY
		}
	}

	function touchDistance(touch1, touch2) {
		const dx = Math.abs(touch2.x - touch1.x)
		const dy = Math.abs(touch2.y - touch1.y)
		return Math.hypot(dx, dy)
	}

	function getMidpoint(point1, point2) {
		return {
			x: (point1.x + point2.x) / 2,
			y: (point1.y + point2.y) / 2
		}
	}

	function onWheel(event) {
		event.preventDefault()

		const { left, top } = map.getBoundingClientRect()
		let delta = event.deltaY

		if (event.deltaMode === 1) {
			delta *= 15
		}

		const scaleDiff = delta / 600 + 1
		// avoid to-small or big values
		if (scale * scaleDiff <= 0.76) return
		if (scale * scaleDiff >= 3.63) return

		scale *= scaleDiff
		dx -= (event.pageX - left) * (scaleDiff - 1)
		dy -= (event.pageY - top) * (scaleDiff - 1)
		update()
		showResetButton()
	}

	function getPoints(event) {
		return event.touches ? [...event.touches].map((touch) => getXY(touch)) : [getXY(event)]
	}

	function onPointerDown(event) {
		if (event.type === 'mousedown' && event.button !== 0) return
		event.preventDefault()

		lastPoints = getPoints(event)
		panning++

		if (panning === 1) {
			document.addEventListener('mousemove', onPointerMove)
			document.addEventListener('mouseup', onPointerUp)
			document.addEventListener('touchmove', onPointerMove)
			document.addEventListener('touchend', onPointerUp)
		}
		// changeCursorOnGrab()
		showResetButton()
	}

	function onPointerMove(event) {
		event.preventDefault()
		const points = getPoints(event)
		const averagePoint = points.reduce(getMidpoint)
		const averageLastPoint = lastPoints.reduce(getMidpoint)
		const { left, top } = map.getBoundingClientRect()

		dx += averagePoint.x - averageLastPoint.x
		dy += averagePoint.y - averageLastPoint.y

		if (points[1]) {
			const scaleDiff =
				touchDistance(points[0], points[1]) / touchDistance(lastPoints[0], lastPoints[1])
			if (scale * scaleDiff < 0.8) {
				scale = 0.8
			} else if (scale * scaleDiff > 3.8) {
				scale = 3.8
			} else {
				scale *= scaleDiff
				dx -= (averagePoint.x - left) * (scaleDiff - 1)
				dy -= (averagePoint.y - top) * (scaleDiff - 1)
			}
		}
		update()
		lastPoints = points
	}

	function onPointerUp(event) {
		event.preventDefault()
		panning--
		lastPoints.pop()

		if (panning) {
			lastPoints = getPoints(event)
			return
		}
		// TODO: implement disable label buttons on pointerUp if there was a movement of map
		document.removeEventListener('mousemove', onPointerMove)
		document.removeEventListener('mouseup', onPointerUp)
		document.removeEventListener('touchmove', onPointerMove)
		document.removeEventListener('touchend', onPointerUp)
	}

	mapContainer.addEventListener('mousedown', onPointerDown)
	mapContainer.addEventListener('touchstart', onPointerDown)
	mapContainer.addEventListener('wheel', (event) => onWheel(event))

	resetButton.addEventListener('click', () => {
		dx = 0
		dy = 0
		scale = 1
		update()
	})
</script>
