---
import Mapa from './icons/Mapa.astro'
---

<section id='map-container' class='relative h-screen w-screen cursor-grab'>
	<div
		class='absolute top-0 right-0 -left-20 bottom-0 md:bottom-16 m-auto h-fit w-[150%] origin-top-left md:-left-5 md:w-1/2'
	>
		<Mapa />
	</div>
</section>
