<div
	id='map-guide'
	class='transition-[background-color opacity] fixed bottom-14 left-0 right-0 mx-auto max-w-xs rounded-md border-2 border-white bg-main bg-texture bg-4xl py-1 duration-200 md:bottom-20'
	style={{ opacity: '1' }}
>
	<p class='text-center text-sm leading-4 sm:text-base sm:leading-[normal] px-2'>
		Haz zoom y descubre los espacios ARC 2023!
	</p>
</div>
