<div
	id='map-guide'
	class='fixed bottom-14 rounded-md border-2 border-white md:bottom-20 left-0 right-0 mx-auto bg-main py-1 max-w-xs bg-texture bg-4xl transition-[background-color] duration-200'
>
	<p class='text-center text-sm sm:text-base sm:leading-[normal]'>
		Presiona en las etiquetas y descubre los espacios ARC 2023
	</p>
</div>
