<div
	id='map-guide'
	class='fixed bottom-14 rounded-md border-2 border-white md:bottom-20 left-0 right-0 mx-auto bg-main py-2 px-4 flex w-fit gap-4 justify-between bg-texture bg-4xl transition-all duration-200'
>
	<p class='text-center max-w-xs leading-4'>
		Presiona en las etiquetas y descubre los espacios ARC 2023
	</p>
</div>
