---
import ScheduleDownloader from './ScheduleDownloader.astro'
import SocialNetworks from './SocialNetworks.astro'

const sections = [
	{ name: 'inicio', href: '/' },
	{ name: 'festival', href: '/festival' },
	{ name: 'contacto', href: '/contacto' }
]

const { hoverTextColor, groupHoverTextColor } = Astro.props
---

<nav
	class='bg-main max-w-xs h-full max-h-screen w-full absolute flex flex-col justify-between top-0 z-10 -left-[320px] pt-20 opacity-0 motion-reduce:animate-none'
>
	<ul class='text-white text-4xl p-14 flex flex-col gap-5'>
		{
			sections.map((section) => (
				<li>
					<a href={section.href}>{section.name.toUpperCase()}</a>
				</li>
			))
		}
	</ul>
	<div class='p-14 flex flex-col gap-6'>
		<ScheduleDownloader mobile hoverTextColor={hoverTextColor} />
		<SocialNetworks mobile groupHoverTextColor={groupHoverTextColor} />
	</div>
</nav>

<style>
	nav {
		transition: left 500ms;
		transition-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
</style>
