---
const sections = ['home', 'festival', 'contacto'].map(section => section.toUpperCase())
---

<nav id='navbar' class='bg-black max-w-xs h-screen w-full absolute top-0 z-10 -left-[320px] pt-20 transition-[left] opacity-0 duration-200 ease-linear'>
	<ul class='text-white text-4xl p-14 flex flex-col gap-5'>
		{
			sections.map(section => (
				<li>
					<a href=''>{section}</a>
				</li>
			))
		}
	</ul>
</nav>
