---
import ScheduleDownloader from './ScheduleDownloader.astro'
import SocialNetworks from './SocialNetworks.astro'

const sections = [
	{ name: 'inicio', href: '/' },
	{ name: 'festival', href: '/festival' },
	{ name: 'contacto', href: '/contacto' }
]

const { hoverTextColor, groupHoverTextColor } = Astro.props
---

<nav
	class='bg-main max-w-xs h-full w-full fixed flex flex-col gap-14 top-0 z-40 -left-[320px] pt-32 opacity-0 px-14 motion-reduce:animate-none'
>
	<ul class='text-white text-4xl flex flex-col gap-5'>
		{
			sections.map((section) => (
				<li class='hover:underline transition-all duration-200 ease-in'>
					<a href={section.href}>{section.name.toUpperCase()}</a>
				</li>
			))
		}
	</ul>
	<div class='flex flex-col gap-6'>
		<ScheduleDownloader mobile hoverTextColor={hoverTextColor} />
		<SocialNetworks mobile groupHoverTextColor={groupHoverTextColor} />
	</div>
	<div class='flex flex-col absolute bottom-0 py-6'>
		<p class="font-bold text-lg">ARC 2023</p>
		<p class="font-light">Desarrollado por <a class="underline" target='_blank' href='https://github.com/Strocs'>Strocs</a></p>
	</div>
</nav>

<style>
	nav {
		transition: left 500ms;
		transition-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	}
</style>
