---
import { Icon } from 'astro-icon'
const { href, icon } = Astro.props
const { color = 'group-hover:text-main' } = Astro.props
---

<li>
	<a class='group block p-1 transition hover:bg-white' href={href}>
		<Icon name={icon} class={`text-white w-7 h-7 ${color} transition`} />
	</a>
</li>
