---
import { Icon } from 'astro-icon'
const { href, icon } = Astro.props
const { color = 'hover:text-main' } = Astro.props
---

<li>
	<a class='hover:bg-white group p-1 transition rounded-md block' href={href}>
		<Icon name={icon} class={`text-white w-7 h-7 group-${color} transition`} />
	</a>
</li>
