---
const { borderColor } = Astro.props
---

<main class='flex w-full h-full min-h-screen bg-no-repeat bg-top bg-contain'>
	<article
		class='flex py-28 gap-10 mx-auto max-w-7xl w-full justify-center flex-wrap relative'
	>
		<section
			class='flex flex-col gap-4 w-full max-w-2xl py-10 px-8 text-slate-900'
		>
			<slot name='first-section' />
		</section>
		<section
			class={`flex flex-col h-fit gap-8 sm:border-l-8 max-sm:border-t-8 ${borderColor} text-slate-900 w-full max-w-sm p-10 pb-4 py-10 justify-self-end relative`}
		>
			<slot name='second-section' />
		</section>
	</article>
</main>
