---
const { description } = Astro.props
const descriptionSplited = description.split('\n')
---

<div class='flex flex-col gap-4'>
	{
		descriptionSplited.map((description: string) => (
			<p class='font-normal text-justify'>
				{description.split('\b')[0]}
				<b>{!!description.split('\b')[1] && description.split('\b')[1]}</b>
				{!!description.split('\b')[2] && description.split('\b')[2]}
			</p>
		))
	}
</div>
