---
const { position, img, id, title } = Astro.props
---

<button class=' w-44 absolute hover:scale-110 transition-all cursor-pointer' style={position}>
  <img id='image-button' aria-label={id} src={`${img}`} alt={`Imágen de ${title}`}>
</button>
