---
import { Icon } from 'astro-icon'

const { links, hoverTextColor, name } = Astro.props
---

<div class='mt-4 grid w-fit grid-flow-col gap-2'>
	<p class='text-lg font-medium'>Conoce más de {name}:</p>
	<ul class='flex'>
		{
			links.map(({ url, name }) => (
				<li class='border-r-2 px-2'>
					<a href={url} aria-label='medias'>
						<Icon
							class={`${hoverTextColor} h-6 w-6 transition-all duration-200`}
							name={name === 'tiktok' ? 'ic:baseline-tiktok' : `mdi:${name}`}
						/>
					</a>
				</li>
			))
		}
	</ul>
</div>
