---
const { textColor = 'text-main', mobile } = Astro.props
---

<div class={`gap-3 items-center ${mobile ? 'flex md:hidden' : 'hidden md:flex'}`}>
	<button
		class={`text-white font-medium outline outline-white outline-2 -outline-offset-[2px] py-1 px-3 bg-white ${textColor} hover:bg-transparent hover:text-white transition-all ease-in duration-200`}
		>Descarga la Programación</button
	>
</div>
