---
import ButtonLink from './ButtonLink.astro'

const { backgroundColor, mobile } = Astro.props
---

<div class={`gap-3 items-center ${mobile ? 'flex md:hidden' : 'hidden md:flex'}`}>
	<ButtonLink backgroundColor={backgroundColor}>Descarga la Programación</ButtonLink>
</div>
