---
const { hoverTextColor, mobile } = Astro.props
---

<div class={`gap-3 items-center ${mobile ? 'flex md:hidden' : 'hidden md:flex'}`}>
	<button
		class={`text-white outline outline-white outline-2 -outline-offset-[2px] py-1 px-3 font-normal hover:bg-white ${hoverTextColor} transition-all ease-in duration-200`}
		>Descarga la Programación</button
	>
</div>
