---
import ButtonLink from './ButtonLink.astro'

const { styles, mobile } = Astro.props
---

<div class={`gap-3 items-center ${mobile ? 'flex md:hidden' : 'hidden md:flex'}`}>
	<ButtonLink styles={styles}>Descarga la Programación</ButtonLink>
</div>
