---
import Button from './Button.astro'

const { backgroundColor, mobile } = Astro.props
---

<div class={`gap-3 items-center ${mobile ? 'flex md:hidden' : 'hidden md:flex'}`}>
	<Button backgroundColor={backgroundColor}>Descarga la Programación</Button>
</div>
