---
import { Icon } from 'astro-icon'
import { ARC_2023 } from '../data/ARC_2023'
const { socialNetwork } = ARC_2023

const { groupHoverTextColor, mobile } = Astro.props
---

<div class={`gap-3 items-center ${mobile ? 'flex lg:hidden' : 'hidden lg:flex'}`}>
	<p>Síguenos:</p>
	<ul class='flex gap-1'>
		{
			socialNetwork.map((social) => (
				<li>
					<a class='hover:bg-white group p-1 transition block' href={social.url}>
						<Icon
							name={`mdi:${social.name}`}
							class={`text-white w-7 h-7 ${groupHoverTextColor} transition`}
						/>
					</a>
				</li>
			))
		}
	</ul>
</div>
