---
import { ARC_2023 } from '../data/ARC_2023'
import NavLink from './NavLink.astro'
const { socialNetwork, email } = ARC_2023
---

<ul class='gap-3 items-center hidden sm:flex'>
	<li>Síguenos:</li>
	{socialNetwork.map(social => <NavLink href={social.url} icon={`mdi:${social.name}`} />)}
</ul>
